* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Young-serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

body {
  background-color: #f3e5d7;
  display: flex;
  justify-content: center;
}

main {
  width: 736px;
  height: 1708px;
  margin-top: 123px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 24px;
}

article {
  display: flex;
  flex-direction: column;
  width: 656px;
  height: 1708px;
  margin-left: 40px;
  margin-right: 40px;
}

header {
  width: 656px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.introduction {
  width: 656px;
  height: 112px;
  padding: 0;
  margin-bottom: 32px;
}

.introduction > h1 {
  font-family: "Young-serif";
  color: #312e2c;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.introduction > p {
  color: #5f564d;
  margin-top: 28px;
  line-height: 150%;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.preparationTime {
  width: 656px;
  height: 180px;
  margin-bottom: 32px;
}

.preparationTime > h3 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #7a284e;
  margin: 28px 28px 16px 28px;
}

.estimateTime {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul {
  list-style-type: none;
  color: #5f564d;
  padding-bottom: 28px;
}

ul li::before {
  content: "•";
  font-size: 16px;
  color: #7a284e;
  padding-right: 25px;
}

.estimateTime > li {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-left: 36px;
}

span {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.ingredients {
  width: 656px;
  height: 204px;
}

.ingredients > h2 {
  color: #854632;
  font-family: "Young-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  padding-bottom: 24px;
}

.quantityIngredients {
  padding: 0px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quantityIngredients > li {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

hr {
  width: 656px;
  height: 0px;
  border: 1px solid #e3ddd7;
  margin-top: 32px;
  margin-bottom: 32px;
}

.instructions {
  width: 656px;
  height: 332px;
  gap: 24px;
}

.instructions > h2 {
  color: #854632;
  font-family: "Young-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  padding-bottom: 24px;
}

.orderInstructions {
  padding: 0px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  color: #5f564d;
}
ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #854632;
  margin-right: 24px;
}

.orderInstructions > li {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
}

.nutrition {
  width: 656px;
  height: 268px;
  margin-bottom: 40px;
}

.nutrition > h2 {
  color: #854632;
  font-family: "Young-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
}

.nutrition > p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
  margin-top: 24px;
  margin-bottom: 24px;
}

table {
  width: 656px;
  height: 168px;
  margin-top: 24px;
}

td {
  width: 288px;
  height: 24px;
  border-bottom: 1px solid #e3ddd7;
}

.title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
  padding-left: 32px;
}

.measure {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #854632;
}
